* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: #09090b;
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  display: grid;
  line-height: 1.75;
  place-items: center;
  height: 100%;
  /* grid-template-rows: 90px auto 88px; */
}

::selection {
  color: white;
  background: #f3a712;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #fafffd;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #09090b;
  border-radius: 1px;
}

@media (min-width: 900px) {
  body {
    padding: 0 100px;
  }
}

.link > :global(a) {
  text-decoration: none;
}

:global(a) {
  text-decoration: none;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
